
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

div {
    display: block;
}

.top h4{
    color: black;
    margin-bottom: 5px;
    font-size: 0.8rem;
}

.top h5{
    font-size: 2rem;
}


.form-group {
    display: grid;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top:10px;
    margin-bottom: 5px;
}


input{
    padding: 5px 5px;
}

label{
    display: block;
    align-self: center;
}




